<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tailwind.minn.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700|Poppins:400,700&display=swap">
    <title>APITranslate</title>
</head>
<body class=" bg-blue-800 mx-auto">
    <header class="lg:flex ml-8 mt-4 lg:justify-between ">
        <h1 class="text-white text-4xl ">apiTRANSLATE</h1>
        <nav class="mt-4 mr-20 px-4 text-center text-white">
            <a href="">Privacy Policy /</a>
            <a href="">License /</a>
            <a href="">Term of service</a>
        </nav>
    </header>

    <main class="mt-32">
        <section class="container mx-auto">
            <div class="lg:flex">
                <div class="lg:w-1/2">
                    <p class="text-white lg:text-left text-center font-bold text-2xl">Reliable and Powerful api for your Business and Application Development Translation needs </p>
                    <p class="text-white lg:text-left text-center lg:text-justify">The API provides access to the Google online machine translation service. It supports more than 100 languages and can translate separate words or complete texts. This api can be embedded in a mobile app or web service for end users.</p>
                    <p class="text-white lg:text-left text-center lg:text-justify mt-6 font-bold text-lg">Real-time JSON API for over 100 Languages</p>
                    <p class="text-white lg:text-left text-center lg:text-justify mt-6 text-lg">Full Open Source.</p>
                    <p class="text-white lg:text-left text-center lg:text-justify mt-6 text-lg">Compatible with any application and programming language.</p>
                </div>
                <div class="lg:w-1/2">
                   <div class="lg:ml-8">
                    <p class="text-white lg:text-left text-center  font-bold text-2xl">REQUEST CALL</p>
                     <img src="/request.png" alt="">
                    <p class="text-white lg:text-left text-center font-bold text-2xl">RESPONSE DATA</p>
                    <img src="/carbon.png"  alt="">
                   </div>
                </div>
            </div>
        </section>

        <section class=" mt-8 py-2 shadow-lg bg-gray-200 pb-8 ">
            <div class="container rounded-sm mx-auto lg:flex">
                <div class="lg:w-full">
                    <p class="text-blue-900 text-center text-xl mb-2">Supported Language Codes</p>
                    <img src="/langcodes.png"  alt="">
                </div>
                <div class="lg:w-1/2 text-blue-900 lg:ml-4">
                    <p class=" text-center text-xl  mb-2">Available End-Points</p>
                    <div class="px-4 py-4 rounded-lg lg:overflow-x-hidden overflow-x-scroll">
                        <p class="py-2">#Use this endpoint to translate from one language to another.</p>
                        <p class="py-2">https://apitranslate.herokuapp.com/translate/text/from/to</p>
                        <p class="py-2">#Use this endpoint to translate from one language to another.</p>
                        <p>https://apitranslate.herokuapp.com/translate/text/from/to</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="bg-blue-800 text-white p-4">
            <span>
                &copy; apiTranslate 
            </span>
            <span class="float-right mr-8">
               <a href="https://iamdyt.netlify.app"> iamdyt</a>
            </span>
        </div>
    </footer>
</body>
</html>